.products__div{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.oneProduct__div{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-around;
}
