.div__empty{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty__span{
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: #ccc;
}

.fill{
    color: black;
    text-transform: uppercase;
}

.cart__div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid #ccc;
}

.cart__div:nth-child(1){
    border-top: 1px solid #ccc;
}

.productCart__title{
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.productCart__img{
    width: 7rem;
    margin-bottom: 0.5rem;
}

.productCart__price{
    font-weight: bolder;
    color: rgb(124, 124, 124);
}

.buttons__div{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.span__qty{
    font-size: 1.5rem;
}

.button__element--operation{
    width: 10%;
    border: 1px solid rgb(175, 175, 175);
    font-size: 1.2rem;
    cursor: pointer;
}

.add{
    background-color: rgb(160, 248, 160);
    transition: all 30ms;
}

.add:hover{
    background-color: rgb(97, 255, 97);
}

.remove{
    background-color: rgb(255, 172, 172);
    transition: all 30ms;
}

.remove:hover{
    background-color: rgb(255, 88, 88);
}

.div__cartInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.span__amountInfo{
    font-size: 1.5rem;
    color: rgb(95, 95, 95);
    margin-bottom: 0.5rem;
}

.price{
    font-weight: bold;
    font-size: 2rem;
    color: black;
    margin-bottom: 1rem;
}

.span__buyMore{
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    background-color: black;
    margin-bottom: 1rem;
    border-radius: 2rem;
    padding: 0.5rem;
    text-decoration: none;
    transition: all 300ms;
}

.span__buyMore:hover{
    transform: scale(1.05);
    background-color: rgb(31, 31, 31);
}